include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
graft metrics_dashboard
graft fabfile 
prune metrics_dashboard/tests/coverage
recursive-exclude metrics_dashboard *.orig *.pyc .ropeproject
recursive-exclude fabfile *.orig *.pyc fabric_settings.py
