<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Django Metrics Dashboard{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ STATIC_URL }}metrics_dashboard/css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}metrics_dashboard/css/bootstrap-responsive.css">

    <script src="{{ STATIC_URL }}metrics_dashboard/js/libs/modernizr-2.6.2.min.js"></script>
</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    {% block "main" %}
    <p>Hello world! This is HTML5 Boilerplate.</p>
    {% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}metrics_dashboard/js/libs/jquery-1.8.3.min.js"><\/script>')</script>
    <script src="{{ STATIC_URL }}metrics_dashboard/js/libs/bootstrap.min.js"></script>
    {% block "extrajs" %}{% endblock %}
</body>
</html>
