{% extends "metrics_dashboard/dashboard_base.html" %}
{% load socketio_tags %}
{% load url from future %}

{% block "main" %}
<section class="gridsterSection">
    <div class="gridster">
        <ul>
            {% for widget_name, widget in widgets.items %}
                <li id="widget_{{ widget_name }}" data-row="1" data-col="1" data-sizex="{{ widget.sizex }}" data-sizey="{{ widget.sizey }}" data-url="{% url "dashboard_api_widget" widget_name=widget_name %}"></li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}


{% block "extrajs" %}
{% socketio %}
<script>
function reconnect() {
    if (! document.socket.connected) {
        document.socket.connect();
        console.log('reconnecting');
    }
    setTimeout('reconnect()', 30000);
}


$(document).ready(function() {
    $(".gridster ul").gridster({
        widget_margins: [10, 10],
        widget_base_dimensions: [140, 140]
    });

    function get_template(widget_id) {
        // Gets the template for the given widget via AJAX
        var widget_id = widget_id;
        var widget_name = widget_id.replace('widget_', '');
        var api_url = $('#' + widget_id).attr('data-url');
        $.get(api_url, function(data) {
            $('#' + widget_id).html(data);
        });
    }

    $('li[id^="widget_"]').each(function() {
        // Let's load all widget templates when the page has been loaded.
        get_template($(this).attr('id'));
    });

    document.socket = new io.Socket('{{ SOCKETIO_HOST }}');
    document.socket.connect();

    document.socket.on('connect', function() {
        // For each widget we subscribe to a channel

        // We do this so that we can receive a message when the widget's data
        // has been uploaded.
        {% for widget in widgets %}
            document.socket.subscribe('{{ widget }}');
        {% endfor %}
    });

    document.socket.on('message', function (message, callback) {
        // If the widget's data has been uploaded we re-load it's template.
        var widget = message.replace(/(.+): (.+)/, '$1');
        var message_str = message.replace(/(.+): (.+)/, '$2');
        if (message_str === 'update') {
            get_template('widget_' + widget);
        }
    });

    reconnect();
});
</script>
{% endblock %}
